.header__menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 28px 120px 28px 0;
}

@media (max-width: 768px) {
  .header__menu {
    position: fixed;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100vh;
    background-color: var(--background-color);
    transition: 0.6s all;
    margin: 0;
    padding: 144px 0 0 0;
    box-sizing: border-box;
  }
}

@media (max-width: 575px) {
  .header__menu {
    width: 75%;
  }
}

@media (max-width: 425px) {
  .header__menu {
    width: 100%;
  }
}
