.header {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-height: 74px;
  height: 100%;
  max-width: 1440px;
  padding-bottom: 20px;
}

@media (max-width: 425px) {
  .header {
    padding-bottom: 0;
  }
}
