.carousel {
  position: relative;
  max-width: 1440px;
  div {
    position: relative;
  }
  .slick-prev, .slick-next {
    position: absolute;
    bottom: -100px;
    left: 0;
    border: none;
    background-color: var(--arrow-background-color);
    padding: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    .icon {
      stroke: var(--arrow-color);
    }

    &:hover {
      opacity: 0.6;
    }
  }
  .slick-next {
      left: 70px;
  }

}

@media (max-width: 992px) {
  .carousel {
    max-width: 670px;
    justify-self: center;
    grid-row-start: 2;
    grid-row-end: 3;
    padding-bottom: 50px;
    .slick-prev, .slick-next {
      top: -100px;
      right: 70px;
      left: auto;
    }
    .slick-next {
        right: 0;
        left: auto;
    }
  }
}

@media (max-width: 767px) {
  .carousel {
    max-width: 400px;

  }
}

@media (max-width: 425px) {
  .carousel {
    max-width: 284px;
    padding-bottom: 40px;
    .button__img {
      width: 4.5px;
      height: 10px;
    }
    .slick-prev, .slick-next {
      width: 24px;
      height: 24px;
      top: -70px;
      right: 34px;
      left: auto;
    }
    .slick-next {
      right: 0;
      left: auto;
  }
  }
}
