@media (max-width: 767px) {
  .hamburger {
    display: block;
    position: absolute;
    right: 18px;
    top: 50%;
    transform: translateY(-50%);
    width: 22px;
    height: 19px;
    &:hover {
      cursor: pointer;
    }
  }
}
