.header__menu-item {
  margin-right: 34px;
  &:last-of-type {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .header__menu-item {
    margin-right: 0;
    margin-bottom: 32px;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
