.page_theme_dark {
  --text-color-main: #FFFFFF;
  --text-color-secondary: #E6E6E6;
  --line-color: #707070;
  --opacity-hover: 0.65;
  --background-color: #333333;
  --subheader-button-color: #24B47E;
  --background-color-footer: #2F2F2F;
  --text-color-copyright: #565656;
  --switcher-background-color: #545454;
  --arrow-background-color: #434343;
  --opacity-hover-bikes: 0.5;
  --arrow-color: #FFFFFF;
  background-color: var(--background-color);
}
