.page_theme_dark {
  --text-color-main: #FFFFFF;
  --text-color-secondary: #E6E6E6;
  --line-color: #707070;
  --opacity-hover: 0.65;
  --background-color: #333333;
  background-color: var(--background-color);
}
