.road {
  /* display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);


  max-width: 1440px; */
  box-sizing: border-box;
  padding-left: 120px;
  padding-bottom: 220px;
}

/* @media (max-width: 992px) {
  .road {
    padding-right: 120px;
    max-width: 992px;
    overflow: visible;
  }
}

@media (max-width: 768px) {
  .road {
    padding: 0 30px 120px 30px;
  }
}

@media (max-width: 425px) {
  .road {
    padding: 0 18px 120px 18px;
  }
} */
